# Bỏ qua thư mục chứa mô hình lớn
models/

# Bỏ qua cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
.venv/
venv/

# Notebook checkpoints
*.ipynb_checkpoints

# Streamlit config/logs
.streamlit/
*.log

# Hệ điều hành
.DS_Store
Thumbs.db
